ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast)
}

ion-content {
    --background: var(--ion-color-secondary);
}

ion-list {
    --background: var(--ion-color-secondary);
}

ion-item {
    --background: var(--ion-color-secondary-shade);
}